/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body{
  background: url('http://api.ning.com/files/lnNHCVxKyAJCb-5d8ScpgPIsA-dAEMoIWV9SjUH5KU2hPz58hGA3TBctfJ4YWu2ilnd3NcHofSivmx05U6-1IEn2jYE-l51M/polka_~small_reverse_20_gray.png') no-repeat;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.scoreboard{
  width:200px;
  height: 50px;
  font-family: helvetica, arial, sans-serif;
  padding:5px;
  z-index:1;
  position: absolute;
  background-color: rgba(192, 192, 192, 0.7);
  margin-top:55px;
  margin-left:5px;
  border-radius: 2px;
}

.board{
  box-shadow: 0px 0px 5px #888888;
  margin-top: 50px;
}

.text{
  width:150px;
  float:left;
  font-weight: bold;
}

.highscore, .current, .collisions{
  width:50px;
  float:right;
  text-align: right;
}

.enemy {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }